* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #90c5df;
}

/* Header */
/* Header */
header {
  z-index: 1;
}

.bg-header-color {
  background-color: #e73c24;
}

.navbar-brand img {
  padding: 0.5rem;
}

/* Nav list */
.header .navbar .navbar-nav .nav-item a {
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  transition: 1s;
}
.header .navbar .navbar-nav .nav-item .nav-link:link {
  text-decoration: none;
  color: #121212;
}
.header .navbar .navbar-nav .nav-item .nav-link:visited {
  text-decoration: none;
  color: #121212;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  text-decoration: none;
  color: #90c5df;
  margin: 0rem 0.5rem;
}
.header .navbar .navbar-nav .nav-item .nav-link:active {
  text-decoration: none;
  color: #90c5df;
}

/* Responsive images --> all the responsive images in the page*/
.responsiveimg {
  max-width: 100%;
  height: auto;
}

.title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  font-family: "Vina Sans", cursive;
  color: #e73c24;
  letter-spacing: 5px;
  text-indent: 5px;
}

.subtitle {
  color: #121212;
  font-family: "Rubik", sans-serif;
}

/* Media Querys */
/* Desktop Version */
@media screen and (min-width: 769px) {
  .titleHomePage {
    font-size: 7rem;
  }
  .subtitleHomePage {
    font-size: 4rem;
  }
  .seeLineup button {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1010px) {
  .subtitlePlaylist {
    font-size: 4rem;
  }
}
@media screen and (min-width: 851px) {
  .mapPageTitle {
    font-size: 5rem;
  }
}
@media screen and (min-width: 769px) {
  .titlePasses h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .shopTitle h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .titleFaq {
    font-size: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .contactFormTitle {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}
/* Mobile Version */
@media screen and (max-width: 768px) {
  .titleHomePage {
    font-size: 5rem;
  }
  .subtitleHomePage {
    font-size: 3rem;
  }
  .seeLineup button {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1009px) {
  .subtitlePlaylist {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 850px) {
  .mapPageTitle {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .titlePasses h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .shopTitle h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .titleFaq {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .contactFormTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
/* Index / Home page */
#carouselMainPage {
  margin: 1.5rem 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.911);
}

.titleWoodstock2023 {
  margin: 0.3rem;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  top: -1rem;
}

.seeLineup {
  display: flex;
  flex-wrap: column wrap;
  align-items: center;
  position: relative;
}
.seeLineup img {
  z-index: -1;
}
.seeLineup button {
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #fff;
  padding: 0.1rem;
  border: none;
  cursor: pointer;
}
.seeLineup button:hover {
  color: #e73c24;
}

/* Music Page */
#musica-body body {
  background-color: #90c5df;
}

.lineUp {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.lineUp img {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
}

/* Playlist */
.spotifyPlaylist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.spotifyPlaylist iframe {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
}

/* Map page */
/* Map page */
.mapPageMain img {
  max-width: auto;
}

.mapInfo .mapIcon {
  max-width: 100px;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 100px;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
}

.mapGastronomia img {
  height: 10rem;
}

/* Passes page */
/* Passes page */
.buyPasses {
  display: grid;
  row-gap: 10px;
}
.buyPasses .card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
}
.buyPasses .card .card-title {
  font-size: 3rem;
  color: #e73c24;
  font-family: "Vina Sans", cursive;
}
.buyPasses .card .card-text {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
}
.buyPasses .card button {
  background-color: #e73c24;
  border: 3px solid #e73c24;
  border-radius: 2px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Merch Page */
/* Merch page */
.merchItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  font-family: "Rubik", sans-serif;
}
.merchItems .merchProduct {
  margin: 1rem 4rem 2rem 4rem;
  flex-direction: column;
}
.merchItems .merchProduct img {
  max-width: 20rem;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
}
.merchItems .merchProduct h4 {
  font-size: 2rem;
  margin: 10px auto 5px auto;
}
.merchItems .merchProduct p {
  font-size: 1.5rem;
  margin: 5px auto 5px auto;
  display: inline-flex;
}
.merchItems .merchProduct button {
  background-color: #e73c24;
  border: 3px solid #e73c24;
  border-radius: 2px;
  position: relative;
  padding: 2px 12px 2px 12px;
  margin: 1rem;
  left: 12rem;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}

/* FAQ Page */
.titleFaq {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  font-family: "Vina Sans", cursive;
  color: #e73c24;
  letter-spacing: 5px;
  text-indent: 5px;
  text-shadow: 0 0 20px rgb(255, 255, 255);
  color: #121212;
}

.faq-section .accordion {
  margin: 3.4rem;
}

/* Contact Page */
/* Contact page */
.contactForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 50px auto;
  max-width: 800px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
}
.contactForm .contact-fill label {
  margin: 0.2rem;
  font-family: "Rubik", sans-serif;
}
.contactForm .contact-fill input {
  margin: 0.2rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  border: 2px solid #e9eaea;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.5 ease;
}

/* Footer */
/* Footer */
@media screen and (min-width: 769px) {
  footer {
    background-color: #121212;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "socialmedia information suscribe" "privacy terms copyright";
    row-gap: 1rem;
    column-gap: 1rem;
    justify-items: center;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-color: #121212;
    display: flex;
    padding: 10px;
    flex-flow: column wrap;
    align-items: center;
    bottom: 0;
  }
}
footer .footer-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
footer .footer-box p {
  display: flex;
  text-align: center;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-style: bold;
  font-size: 1.2rem;
  margin-bottom: 2px;
  margin-top: 2rem;
}
footer .socialmedia {
  display: flex;
  flex-flow: column wrap;
  grid-area: socialmedia;
}
footer .socialmedia .fa-brands {
  color: #e0e0e0;
  font-size: 2rem;
  padding: 7px 10px;
}
footer .socialmedia .fa-brands:hover {
  text-decoration: none;
  color: #90c5df;
  margin: 0rem 0.5rem;
  transition: 1s;
}
footer .information-contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  grid-area: information;
}
footer .information-contact ul {
  list-style: none;
}
footer .information-contact ul li a {
  font-family: "Rubik";
  font-size: 1rem;
  color: #b9b9b9;
  text-decoration: none;
}
footer .information-contact ul li a:hover {
  color: #e73c24;
}
footer .suscribe {
  display: flex;
  flex-flow: column wrap;
  grid-area: suscribe;
}
footer .suscribe form {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
}
footer .suscribe form button {
  font-family: "Vina sans", sans-serif;
  color: #121212;
  background-color: #e73c24;
  border: 1px solid #e73c24;
  padding: 2px;
  margin-left: 10px;
  border-radius: 3px;
}
footer .legal-box {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1rem;
}
footer .legal-box a {
  color: #aaaaaa;
}
footer .terms {
  grid-area: terms;
}
footer .privacy {
  grid-area: privacy;
}
footer .copyright {
  grid-area: copyright;
}
footer .copyright p {
  font-size: 0.8rem;
  color: #707070;
}

/*# sourceMappingURL=styles.css.map */
