//VARIABLES
@import './utilities/_variables.scss';
//MIXINS
@import './utilities/_mixins.scss';
//RESET
@import './base/reset';
//FONTS
@import './base/fonts';

body {
    background-color: #90c5df;
}

/* Header */
@import './layout/header';

.title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: 'Vina Sans', cursive;
    color: $orange-main;
    letter-spacing: 5px;
    text-indent: 5px;
}

.subtitle {
    color: #121212;
    font-family: 'Rubik', sans-serif;
}

/* Media Querys */
//DESKTOP
@import './layout/mediaMin769px';

//MOBILE
@import './layout/mediaMax768px';

/* Index / Home page */
@import './layout/homePage';

/* Music Page */
@import './layout/musicPage';


/* Map page */
@import './layout/mapPage';


/* Passes page */
@import './layout/passesPage';

/* Merch Page */
@import './layout/merchPage';

/* FAQ Page */
@import './layout/faqPage';

/* Contact Page */
@import './layout/contactPage';

/* Footer */
@import './layout/footer';