//VARIABLES
@import '../utilities/_variables.scss';

@mixin title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: 'Vina Sans', cursive;
    color: transparent;
    margin: 1rem;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
    text-shadow: rgba(255, 255, 255, 0.822) 1px 0 50px;
    letter-spacing: 5px;
    text-indent: 5px;
}

@mixin subtitle {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: $black-main;
}

@mixin flexColumnCenter {
    display: flex;
    flex-wrap: column wrap;
    align-items: center;
}

@mixin flexRowCenter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@mixin buttonOrangeShadow {
    background-color: $orange-main;
    border: 3px solid $orange-main;
    border-radius: 2px;
    padding: 2px 12px 2px 12px;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}

@mixin borderWhiteLights {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.877);
}