//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

/* Footer */

@media screen and (min-width: 769px) {

    footer {
        background-color: $black-main;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            'socialmedia information suscribe'
            'privacy terms copyright';
        row-gap: 1rem;
        column-gap: 1rem;
        justify-items: center;

    }
}

@media screen and (max-width:768px) {

    footer {
        background-color: $black-main;
        display: flex;
        padding: 10px;
        flex-flow: column wrap;
        align-items: center;
        bottom: 0;
    }
}

footer {
    .footer-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;

        p {
            display: flex;
            text-align: center;
            color: #fff;
            font-family: 'Rubik', sans-serif;
            font-style: bold;
            font-size: 1.2rem;
            margin-bottom: 2px;
            margin-top: 2rem;
        }
    }

    .socialmedia {
        display: flex;
        flex-flow: column wrap;
        grid-area: socialmedia;

        .fa-brands {
            color: #e0e0e0;
            font-size: 2rem;
            padding: 7px 10px;
            transition: 1s;

            &:hover {
                text-decoration: none;
                color: $lightblue-main;
                margin: 0rem 0.5rem;

            }
        }
    }

    .information-contact {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        grid-area: information;

        ul {
            list-style: none;

            li a {
                font-family: 'Rubik';
                font-size: 1rem;
                color: #b9b9b9;
                text-decoration: none;

                &:hover {
                    color: $orange-main;
                }
            }
        }
    }

    .suscribe {
        display: flex;
        flex-flow: column wrap;
        grid-area: suscribe;

        form {
            display: flex;
            flex-wrap: row wrap;
            align-items: center;

            button {
                font-family: 'Vina sans', sans-serif;
                color: $black-main;
                background-color: $orange-main;
                border: 1px solid $orange-main;
                padding: 2px;
                margin-left: 10px;
                border-radius: 3px;
            }
        }
    }

    .legal-box {
        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 1rem;

        a {
            color: #aaaaaa;

        }
    }

    .terms {
        grid-area: terms;
    }

    .privacy {
        grid-area: privacy;
    }

    .copyright {
        grid-area: copyright;

        p {
            font-size: 0.8rem;
            color: #707070;
        }
    }


}