//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

#carouselMainPage {
    margin: 1.5rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.911);
}

.titleWoodstock2023 {
    margin: 0.3rem;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    top: -1rem;

    .title {
        @include title;
    }

    .subtitle {
        @include subtitle;
    }
}

.seeLineup {
    @include flexColumnCenter;
    position: relative;

    .gradientOverImage {
        background: linear-gradient(90deg, rgba(113, 113, 113, 0.8603816526610644) 22%, rgba(231, 60, 36, 0.18531162464985995) 100%);
    }

    & img {
        background: linear-gradient(90deg, rgba(113, 113, 113, 0.8603816526610644) 22%, rgba(231, 60, 36, 0.18531162464985995) 100%);
        z-index: -1;
    }

    & button {
        font-family: 'Rubik', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: #fff;
        padding: 0.1rem;
        border: none;
        cursor: pointer;

        &:hover {
            color: $orange-main;
        }
    }
}