//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

/* Map page */

.mapPageMain img {
    max-width: auto;
}

.mapInfo {
    text-align: center;

    .mapIcon {
        max-width: 100px;
        margin-top: 1rem;
        background-color: #fff;
        border-color: #fff;
        border-radius: 100px;
        height: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
        transition: 1s ease;

        &:hover {
            @include borderWhiteLights;
        }
    }

    h5 {
        font-family: 'Rubik', snans-serif;
    }
}

.mapGastronomia {
    .title {
        @include title;
    }

    .foodTrucksImagesBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;

        .foodTruckImage {
            margin: 0.5rem;
            box-shadow: $box-shadow-soft ;

            img {
                max-width: 10rem;
                max-height: 10rem;
                transition: 0.5s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }


}