//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

/* Map page */

.mapPageMain img {
    max-width: auto;
}

.mapInfo {
    .mapIcon {
        max-width: 100px;
        margin-top: 1rem;
        background-color: #fff;
        border-radius: 100px;
        height: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
    }
}

.mapGastronomia img {
    height: 10rem;
}