/* Mobile Version */

//HOME PAGE
@media screen and (max-width: 768px) {
    .titleHomePage {
        font-size: 5rem;
    }

    .subtitleHomePage {
        font-size: 3rem;
    }

    .seeLineup button {
        font-size: 2rem;
    }
}