//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

/* Mobile Version */

//HOME PAGE
@media screen and (max-width: 768px) {
    .titleHomePage {
        font-size: 5rem;
    }

    .subtitleHomePage {
        font-size: 3rem;
    }

    .seeLineup button {
        font-size: 2rem;
    }
}

//MUSIC PAGE
@media screen and (max-width: 1009px) {
    .subtitlePlaylist {
        font-size: 2.5rem;
    }
}

//MAP PAGE
@media screen and (max-width: 850px) {
    .mapPageTitle {
        font-size: 3.2rem;
    }

    .titleFoodTrucks {
        font-size: 3.2rem;
    }
}

//PASSES PAGE
@media screen and (max-width: 768px) {
    .titlePasses h1 {
        font-size: 3rem;
    }
}

//MERCH PAGE
@media screen and (max-width: 768px) {
    .shopTitle h1 {
        font-size: 2.5rem;
    }
}

//FAQ PAGE
@media screen and (max-width: 768px) {
    .titleFaq {
        font-size: 2.5rem;
    }
}

//CONTACT PAGE
@media screen and (max-width: 768px) {
    .contactFormTitle {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}