/* Desktop Version */

//HOME PAGE
@media screen and (min-width: 769px) {
    .titleHomePage {
        font-size: 7rem;
    }

    .subtitleHomePage {
        font-size: 4rem;
    }

    .seeLineup button {
        font-size: 3.5rem;
    }
}