//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

/* Merch page */
.merchItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    font-family: 'Rubik', sans-serif;


    .merchProduct {
        margin: 1rem 4rem 2rem 4rem;
        flex-direction: column;

        img {
            max-width: 20rem;
            height: auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);

            &:hover {
                transform: scale(1.2);
                z-index: 1;
                transition: 1s;
            }
        }

        h4 {
            font-size: 2rem;
            margin: 10px auto 5px auto;
        }

        p {
            font-size: 1.5rem;
            margin: 5px auto 5px auto;
            display: inline-flex;
        }

        button {
            @include buttonOrangeShadow;
            position: relative;
            left: 12rem;
            font-size: 1rem;
            z-index: -1;
        }
    }
}