//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

#musica-body body {
    background-color: $lightblue-main;
}

.lineUp {
    @include flexRowCenter;

    img {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    }
}

/* Playlist */
.subtitle {
    @include subtitle;
}

.spotifyPlaylist {
    @include flexColumnCenter;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    iframe {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    }
}