//VARIABLES
@import '../utilities/_variables.scss';
//MIXINS
@import '../utilities/_mixins.scss';

/* Passes page */
.title {
    @include title;
}

.buyPasses {
    display: grid;
    row-gap: 10px;

    .card {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);

        .card-title {
            font-size: 3rem;
            color: $orange-main;
            font-family: 'Vina Sans', cursive;
        }

        .card-text {
            font-size: 1.4rem;
            font-family: 'Rubik', sans-serif;
        }

        button {
            @include buttonOrangeShadow;

        }
    }
}